<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}Croquis</title>
  {% load staticfiles %}
  <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.css" rel="stylesheet" type="text/css">
  <link href="{% static 'build/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
